In [1]:
import pandas as pd

nyt_train = pd.read_csv('NYTimesBlogTrain.csv')
nyt_test = pd.read_csv('NYTimesBlogTest.csv')

nyt_full = pd.concat((nyt_train,nyt_test))
nyt_full.head()

,Abstract,Headline,NewsDesk,Popular,PubDate,SectionName,Snippet,SubsectionName,UniqueID,WordCount
0,A puzzle from Ethan Cooper that reminds me tha...,More School Daze,Business,1.0,2014-09-01 22:00:09,Crosswords/Games,A puzzle from Ethan Cooper that reminds me tha...,NaN,1,508
1,The Strange Library will arrive just three and...,New 96-Page Murakami Work Coming in December,Culture,0.0,2014-09-01 21:14:07,Arts,The Strange Library will arrive just three and...,NaN,2,285
2,Public pension funds have major stakes in Amer...,Public Pension Funds Stay Mum on Corporate Expats,Business,0.0,2014-09-01 21:05:36,Business Day,Public pension funds have major stakes in Amer...,Dealbook,3,1211
3,As they struggle to find new business to bolst...,Boot Camp for Bankers,Business,1.0,2014-09-01 20:43:34,Business Day,As they struggle to find new business to bolst...,Dealbook,4,1405
4,Middle-aged and older patients are unlikely to...,Of Little Help to Older Knees,Science,1.0,2014-09-01 18:58:51,Health,Middle-aged and older patients are unlikely to...,NaN,5,181

In [2]:
#Adding frequency of headline as a feature
nyt_full["HeadlineFreq"] = nyt_full.Headline.map(nyt_full.Headline.value_counts())

#Adding number of words in the headline as a feature
nyt_full['HeadlineWords'] = nyt_full.Headline.apply(lambda x: len(str(x).split(' ')))

#Adding number of words in the abstract as a feature
nyt_full['AbstractWords'] = nyt_full.Abstract.apply(lambda x: len(str(x).split(' ')))

#Adding number of question/exclamation mark as a feature
nyt_full['new2']=nyt_full[['Headline']].applymap(lambda x: str.count(x, '?'))
nyt_full['new3']=nyt_full[['Headline']].applymap(lambda x: str.count(x, '!'))
nyt_full['HeadlineProps']= nyt_full.new2 + nyt_full.new3

In [3]:
nyt2 = nyt_full[['NewsDesk','SectionName','SubsectionName','WordCount','HeadlineWords','AbstractWords','HeadlineFreq', 'HeadlineProps']]
nyt2.head()

,NewsDesk,SectionName,SubsectionName,WordCount,HeadlineWords,AbstractWords,HeadlineFreq,HeadlineProps
0,Business,Crosswords/Games,NaN,508,3,13,1,0
1,Culture,Arts,NaN,285,7,24,1,0
2,Business,Business Day,Dealbook,1211,8,31,1,0
3,Business,Business Day,Dealbook,1405,4,23,1,0
4,Science,Health,NaN,181,6,33,1,0

In [4]:
import numpy as np

#Function to map non-numerical categorical data to its numerical counterparts

def handle_non_numerical_data(df):
    columns = df.columns.values
    
    for column in columns:
        text_digit_vals={}
        def convert_to_int(val):
            return text_digit_vals[val]
        
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x=0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1
                    
            df[column] = list(map(convert_to_int, df[column]))
    return df

nyt3 = handle_non_numerical_data(nyt2)
nyt3.head()

C:\Users\arcane_rt5\Anaconda3\lib\site-packages\ipykernel\__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,NewsDesk,SectionName,SubsectionName,WordCount,HeadlineWords,AbstractWords,HeadlineFreq,HeadlineProps
0,9,2,0,508,3,13,1,0
1,12,14,0,285,7,24,1,0
2,9,3,2,1211,8,31,1,0
3,9,3,2,1405,4,23,1,0
4,10,8,0,181,6,33,1,0

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer()
simple_train = nyt_full['Abstract']
simple_trainSM = vect.fit_transform(simple_train.fillna(" "))
vect.get_feature_names()

['000',
 '006',
 '010',
 '02',
 '03',
 '08',
 '09',
 '10',
 '100',
 '100000003149882',
 '100000003149892',
 '100th',
 '101',
 '105',
 '106',
 '107',
 '108',
 '10th',
 '10x',
 '11',
 '110',
 '111',
 '113th',
 '114',
 '114th',
 '115',
 '1159',
 '117',
 '11th',
 '12',
 '120',
 '122',
 '123',
 '125',
 '127',
 '129',
 '12th',
 '13',
 '130',
 '13th',
 '14',
 '140',
 '140th',
 '142',
 '147',
 '149',
 '14th',
 '15',
 '150',
 '150th',
 '159',
 '15th',
 '16',
 '160',
 '161',
 '164',
 '165th',
 '169',
 '16th',
 '17',
 '171',
 '174',
 '175',
 '17th',
 '18',
 '180',
 '1800',
 '1803',
 '1812',
 '1821',
 '1822',
 '1850',
 '1851',
 '1859',
 '186',
 '1860s',
 '1862',
 '1863',
 '1864',
 '187',
 '188',
 '1888',
 '1889',
 '1892',
 '18th',
 '19',
 '1909',
 '191',
 '1912',
 '1914',
 '1916',
 '1918',
 '1924',
 '1936',
 '1938',
 '1939',
 '194',
 '1940',
 '1943',
 '1944',
 '1948',
 '1950s',
 '1951',
 '1952',
 '1953',
 '1955',
 '1956',
 '1958',
 '1959',
 '196',
 '1960',
 '1960s',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1969s',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1980',
 '1980s',
 '1981',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990s',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '19th',
 '1st',
 '20',
 '200',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '201',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '204',
 '20th',
 '21',
 '2100',
 '2114',
 '213',
 '214',
 '21st',
 '22',
 '225',
 '228',
 '23',
 '230',
 '232',
 '239',
 '24',
 '240',
 '242',
 '245',
 '25',
 '250',
 '252',
 '25th',
 '26',
 '268',
 '26th',
 '27',
 '278',
 '28',
 '280',
 '28th',
 '29',
 '294',
 '2nd',
 '30',
 '300',
 '3000',
 '30th',
 '31',
 '315',
 '319',
 '32',
 '323',
 '325',
 '32nd',
 '33',
 '330',
 '331',
 '34',
 '343',
 '34th',
 '35',
 '350',
 '350th',
 '355',
 '35th',
 '36',
 '363',
 '37',
 '375',
 '37th',
 '38',
 '380',
 '39',
 '397',
 '3d',
 '3rd',
 '3rdeyegirl',
 '40',
 '400',
 '402',
 '40th',
 '41',
 '412',
 '42',
 '425',
 '43',
 '431',
 '433',
 '44',
 '45',
 '450',
 '46',
 '460',
 '466',
 '47',
 '47th',
 '48',
 '480',
 '488',
 '493',
 '50',
 '500',
 '500th',
 '50s',
 '50th',
 '51',
 '52',
 '527',
 '53',
 '530',
 '531',
 '535',
 '54',
 '542',
 '55',
 '550',
 '55th',
 '56',
 '568',
 '57',
 '58',
 '580',
 '59',
 '590',
 '59e59',
 '5s',
 '60',
 '600',
 '605',
 '60s',
 '60th',
 '61',
 '6120',
 '62',
 '625',
 '627',
 '63',
 '635',
 '64',
 '65',
 '650',
 '66',
 '660',
 '68',
 '680',
 '685',
 '69',
 '69th',
 '6s',
 '6th',
 '70',
 '700',
 '70s',
 '70th',
 '71',
 '72',
 '73',
 '73rd',
 '74',
 '740',
 '749',
 '75',
 '750',
 '75th',
 '76',
 '769',
 '76ers',
 '77',
 '770',
 '78',
 '79',
 '790',
 '79th',
 '80',
 '800',
 '802',
 '80s',
 '80th',
 '81',
 '810',
 '82',
 '83',
 '840',
 '85',
 '860',
 '870',
 '89',
 '8s',
 '90',
 '900',
 '90s',
 '91',
 '910',
 '911',
 '92',
 '924',
 '92nd',
 '93',
 '94',
 '95',
 '950',
 '96',
 '960',
 '97',
 '98',
 '99',
 '_r',
 'aaron',
 'aasar',
 'abandon',
 'abandoned',
 'abbas',
 'abbey',
 'abbott',
 'abbvie',
 'abc',
 'abcs',
 'abderrahmane',
 'abe',
 'abiah',
 'abide',
 'abiding',
 'abigail',
 'ability',
 'abinbev',
 'able',
 'abn',
 'abnormal',
 'abolish',
 'abolished',
 'abolition',
 'abortion',
 'abortions',
 'abounaddara',
 'abound',
 'about',
 'above',
 'abraham',
 'abrahams',
 'abramovic',
 'abramovics',
 'abrams',
 'abroad',
 'abrupt',
 'abruptly',
 'absence',
 'absent',
 'absentee',
 'absolutely',
 'absorb',
 'abstract',
 'absurd',
 'abundance',
 'abuse',
 'abused',
 'abuser',
 'abusers',
 'abuses',
 'abusive',
 'abuzz',
 'academia',
 'academic',
 'academics',
 'academy',
 'academys',
 'acadian',
 'acapulcos',
 'acar',
 'accelerating',
 'accept',
 'acceptable',
 'acceptance',
 'accepted',
 'accepting',
 'accepts',
 'access',
 'accessed',
 'accessing',
 'accessories',
 'accessory',
 'accident',
 'accidentally',
 'accidents',
 'acclaim',
 'acclaimed',
 'accolade',
 'accommodate',
 'accommodation',
 'accommodations',
 'accompanied',
 'accompaniment',
 'accompanying',
 'accomplishes',
 'accomplishments',
 'accord',
 'according',
 'accosting',
 'account',
 'accountability',
 'accountable',
 'accountant',
 'accounting',
 'accounts',
 'accouterments',
 'accreditation',
 'accredited',
 'accumulated',
 'accumulation',
 'accuracy',
 'accurate',
 'accusations',
 'accuse',
 'accused',
 'accuser',
 'accuses',
 'accustomed',
 'ace',
 'acetate',
 'achatz',
 'achieve',
 'achieved',
 'achievement',
 'achieving',
 'achilles',
 'acid',
 'ackman',
 'ackmans',
 'acknowledge',
 'acknowledged',
 'acknowledges',
 'acknowledging',
 'acknowledgment',
 'acompli',
 'acorn',
 'acosta',
 'acoustics',
 'acquaintance',
 'acquire',
 'acquired',
 'acquirers',
 'acquires',
 'acquiring',
 'acquisition',
 'acquisitions',
 'acquitted',
 'acre',
 'acres',
 'acrimonious',
 'acrobatics',
 'across',
 'acrostic',
 'act',
 'actavis',
 'acted',
 'acting',
 'action',
 'actions',
 'activated',
 'activating',
 'active',
 'actively',
 'activewear',
 'activision',
 'activist',
 'activists',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'actresss',
 'acts',
 'actual',
 'actually',
 'ad',
 'adair',
 'adam',
 'adams',
 'adapt',
 'adaptation',
 'adaptations',
 'adapted',
 'adaptimmune',
 'adapting',
 'add',
 'addams',
 'addario',
 'added',
 'addict',
 'addiction',
 'adding',
 'addison',
 'addition',
 'additional',
 'address',
 'addressable',
 'addressed',
 'addresses',
 'addressing',
 'adds',
 'adelaide',
 'adele',
 'adeles',
 'adeline',
 'adelson',
 'adept',
 'adequate',
 'adha',
 'adherents',
 'adhering',
 'adidas',
 'adieu',
 'adjective',
 'adjust',
 'adjusted',
 'adjustments',
 'adm',
 'administered',
 'administration',
 'administrations',
 'administrative',
 'administrator',
 'administrators',
 'admiral',
 'admires',
 'admission',
 'admit',
 'admitted',
 'admitting',
 'admonishment',
 'admonishments',
 'adner',
 'adolescence',
 'adolescents',
 'adolf',
 'adolphe',
 'adopted',
 'adoptees',
 'adopting',
 'adoption',
 'adoptions',
 'adopts',
 'adorable',
 'adorably',
 'adore',
 'adorn',
 'adorned',
 'adrangi',
 'adressed',
 'adrian',
 'adriana',
 'ads',
 'adult',
 'adulthood',
 'adults',
 'advance',
 'advanced',
 'advances',
 'advancing',
 'advanstar',
 'advantage',
 'advantages',
 'advent',
 'adventure',
 'adventures',
 'adventurous',
 'adversaries',
 'advertised',
 'advertisement',
 'advertisements',
 'advertisers',
 'advertising',
 'advice',
 'advise',
 'advised',
 'adviser',
 'advisers',
 'advising',
 'advisories',
 'advisors',
 'advisory',
 'advocacy',
 'advocate',
 'advocated',
 'advocates',
 'advocating',
 'adwords',
 'adyen',
 'aer',
 'aereo',
 'aerial',
 'aerobic',
 'aerospace',
 'aesop',
 'aesthetic',
 'affair',
 'affairs',
 'affect',
 'affected',
 'affecting',
 'affection',
 'affectionate',
 'affects',
 'affiliate',
 'affiliated',
 'affinity',
 'affirmative',
 'afflict',
 'afflicted',
 'afflicts',
 'affluent',
 'afford',
 'affordable',
 'afghan',
 'afghanistan',
 'afghanistans',
 'afghans',
 'afield',
 'afloat',
 'afoot',
 'afoul',
 'afresheet',
 'africa',
 'african',
 'africans',
 'africas',
 'after',
 'aftereffects',
 'aftermath',
 'afternoon',
 'afternoons',
 'aftertastes',
 'afterward',
 'again',
 'against',
 'agards',
 'agave',
 'age',
 'aged',
 'agencies',
 'agency',
 'agencys',
 'agenda',
 'agent',
 'agents',
 'ages',
 'aggregators',
 'aggression',
 'aggressive',
 'aggressively',
 'aging',
 'agnew',
 'ago',
 'agree',
 'agreed',
 'agreement',
 'agreements',
 'agrees',
 'agriculture',
 'ahead',
 'ahmed',
 'ai',
 'aid',
 'aida',
 'aide',
 'aidens',
 'aides',
 'aiding',
 'aids',
 'aiken',
 'ailey',
 'ailments',
 'aim',
 'aimed',
 'aiming',
 'aims',
 'aint',
 'air',
 'airbags',
 'airbnb',
 'airborne',
 'aircraft',
 'aires',
 'airfield',
 'airing',
 'airline',
 'airlines',
 'airmen',
 'airplanes',
 'airport',
 'airports',
 'airs',
 'airshow',
 'airstrikes',
 'airtime',
 'airwaves',
 'airways',
 'aix',
 'akai',
 'akhtar',
 'akin',
 'akselrad',
 'akshaya',
 'al',
 'ala',
 'alabama',
 'aladdin',
 'alan',
 'alarm',
 'alarmed',
 'alaska',
 'alayne',
 'alba',
 'albanias',
 'albans',
 'albany',
 'albees',
 'alben',
 'albert',
 'alberta',
 'albertsons',
 'albright',
 'album',
 'albums',
 'alcina',
 'alcoholics',
 'alda',
 'aldeans',
 'alderman',
 'aldrichs',
 'alec',
 'aleppo',
 'alert',
 'alerts',
 'alesch',
 'alessandro',
 'alex',
 'alexander',
 'alexandra',
 'alexei',
 'alexis',
 'alfonso',
 'alfred',
 'alfredo',
 'algeria',
 'algerian',
 'ali',
 'alias',
 'alibaba',
 'alibabas',
 'alice',
 'alicia',
 'alienated',
 'align',
 'alike',
 'alimentation',
 'alios',
 'alisher',
 'alison',
 'alisons',
 'alito',
 'alive',
 'alixpartners',
 'alkylamines',
 'all',
 'allegations',
 'allegedly',
 'alleges',
 'allegiance',
 'allegory',
 'allen',
 'allergan',
 'allergans',
 'allergic',
 'allergies',
 'alleviate',
 'alleviation',
 'alliance',
 'allianz',
 'allies',
 'allison',
 'allman',
 'allotted',
 'allow',
 'allowable',
 'allowances',
 'allowed',
 'allowing',
 'allows',
 'allure',
 'alluring',
 'ally',
 'almada',
 'almond',
 'almost',
 'alone',
 'along',
 'alongside',
 'alpha',
 'alphabet',
 'alpine',
 'already',
 'alshon',
 'also',
 'alstoms',
 'alt',
 'alter',
 'altering',
 'alternate',
 'alternative',
 'alternatives',
 'although',
 'altice',
 'altman',
 'altogether',
 'altuzarra',
 'aluminum',
 'alumna',
 'alumni',
 'alumnus',
 'alvin',
 'always',
 'alzheimers',
 'am',
 'am1',
 'ama',
 'amagansett',
 'amalgam',
 'amalie',
 'amanda',
 'amar',
 'amassed',
 'amassing',
 'amateur',
 'amateurs',
 'amazing',
 'amazingly',
 'amazon',
 'amazons',
 'ambassador',
 'amber',
 'ambiguous',
 'ambika',
 'ambitions',
 'ambitious',
 'ambulance',
 'ambush',
 'ambushed',
 'amendment',
 'amendments',
 'amenities',
 'america',
 'american',
 'americana',
 'americans',
 'americas',
 'americorps',
 'amerli',
 'amgen',
 'amgens',
 'amiably',
 'amicable',
 'amid',
 'amine',
 'amir',
 'ammunition',
 'amnesty',
 'among',
 'amors',
 'amoruso',
 'amount',
 'amounted',
 'amounts',
 'amplified',
 'amplify',
 'amputee',
 'amras',
 'amrica',
 'amro',
 'amsterdam',
 'amtrak',
 'amuse',
 'amusement',
 'amy',
 'amyotrophic',
 'an',
 'ana',
 'anachronistic',
 'anagrams',
 'anahad',
 'analog',
 'analysis',
 'analysts',
 'analytical',
 'analytics',
 'analyze',
 'analyzed',
 'analyzing',
 'anarchy',
 'anastacio',
 'anatsuis',
 'anbang',
 'ancestor',
 'ancestors',
 'ancestral',
 'anchor',
 'anchors',
 'ancient',
 'and',
 'anda',
 'anderson',
 'andersons',
 'andersonville',
 'andr',
 'andrea',
 'andreas',
 'andreessen',
 'andrew',
 'andrews',
 'andrey',
 'andris',
 'androgynous',
 'android',
 'andy',
 'anecdotal',
 'anemona',
 'angel',
 'angela',
 'angeles',
 'angelesbased',
 'angeless',
 'angelina',
 'angelique',
 'angelmaier',
 'angelo',
 'anger',
 ...]

In [6]:
from scipy.sparse import csr_matrix, hstack

nyt3SM= csr_matrix(nyt3.values)

SM = hstack((nyt3SM, simple_trainSM), format="csr")
SM

<8402x18674 sparse matrix of type '<class 'numpy.int64'>'
	with 209669 stored elements in Compressed Sparse Row format>

In [7]:
train_index = nyt_full[~nyt_full["Popular"].isnull()].index
train_index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            6522, 6523, 6524, 6525, 6526, 6527, 6528, 6529, 6530, 6531],
           dtype='int64', length=6532)

In [8]:
test_index = nyt_full[nyt_full["Popular"].isnull()].index
test_index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869],
           dtype='int64', length=1870)

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

rfc = RandomForestClassifier()
y= nyt_train.Popular

param_grid = {'n_estimators': [200, 700],'max_features': ['auto', 'sqrt', 'log2']}

gr = GridSearchCV(rfc, param_grid, scoring="roc_auc", n_jobs=-1, cv=4)

gr.fit(SM[train_index, :], y)

GridSearchCV(cv=4, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid={'n_estimators': [200, 700], 'max_features': ['auto', 'sqrt', 'log2']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='roc_auc', verbose=0)

In [10]:
gr.best_score_

0.92110432007358178

In [11]:
gr.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=700, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [12]:
probability = gr.best_estimator_.predict_proba(SM[test_index,:])[:,1]
probability

array([ 0.86714286,  0.02857143,  0.05857143, ...,  0.        ,
        0.01571429,  0.14571429])

In [13]:
results = nyt_test[["UniqueID"]].loc[test_index]
results["Probability"] = probability
results

      UniqueID  Probability
0         6533     0.867143
1         6534     0.028571
2         6535     0.058571
3         6536     0.722857
4         6537     0.738571
5         6538     0.754286
6         6539     0.084286
7         6540     0.805714
8         6541     0.770000
9         6542     0.059143
10        6543     0.054286
11        6544     0.001429
12        6545     0.030000
13        6546     0.901429
14        6547     0.161429
15        6548     0.911429
16        6549     0.130000
17        6550     0.108571
18        6551     0.000000
19        6552     0.111429
20        6553     0.002857
21        6554     0.037143
22        6555     0.001429
23        6556     0.194286
24        6557     0.037143
25        6558     0.062857
26        6559     0.022857
27        6560     0.050000
28        6561     0.015714
29        6562     0.002857
...        ...          ...
1840      8373     0.080000
1841      8374     0.027143
1842      8375     0.785714
1843      8376     0.010000
1844      8377     0.035714
1845      8378     0.004286
1846      8379     0.001429
1847      8380     0.017143
1848      8381     0.021429
1849      8382     0.000000
1850      8383     0.784286
1851      8384     0.022857
1852      8385     0.894286
1853      8386     0.681429
1854      8387     0.061429
1855      8388     0.042857
1856      8389     0.021429
1857      8390     0.024286
1858      8391     0.791429
1859      8392     0.834286
1860      8393     0.014286
1861      8394     0.007143
1862      8395     0.060000
1863      8396     0.794286
1864      8397     0.008571
1865      8398     0.001429
1866      8399     0.012857
1867      8400     0.000000
1868      8401     0.015714
1869      8402     0.145714

[1870 rows x 2 columns]

In [14]:
results.to_csv("results.csv", index=False)